<Layouts.app flash={@flash}>
  <.header>
    New Response
    <:subtitle>Use this form to manage response records in your database.</:subtitle>
  </.header>

  <.response_form changeset={@changeset} action={~p"/responses"} return_to={~p"/responses"} />
</Layouts.app>
