<Layouts.app flash={@flash}>
  <.header>
    Edit Question {@question.id}
    <:subtitle>Use this form to manage question records in your database.</:subtitle>
  </.header>

  <.question_form changeset={@changeset} action={~p"/surveys/#{@survey}/questions/#{@question}"} return_to={~p"/surveys/#{@survey}/questions"} />
</Layouts.app>
