<Layouts.app flash={@flash}>
  <.header>
    New Answer
    <:subtitle>Use this form to manage answer records in your database.</:subtitle>
  </.header>

  <.answer_form changeset={@changeset} action={~p"/answers"} return_to={~p"/answers"} />
</Layouts.app>
